<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squad Demo</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
<h1>
    Squad Demo
</h1>
<div class="input">
    {{ dropzone.create() }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
    <form method="POST">
        <textarea name="textbox"></textarea>
    <button type="submit" name="submit">Submit</button>
    </form>

</div>
</body>
</html>