[run]
source=pytorch_transformers
omit =
    # skip convertion scripts from testing for now
    */convert_*
    */__main__.py
[report]
exclude_lines =
    pragma: no cover
    raise
    except
    register_parameter