absl-py==0.10.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
apache-beam==2.28.0
apipkg==1.5
appdirs==1.4.4
arrow==0.17.0
astunparse==1.6.3
atari-py==0.2.6
attrs==20.3.0
audiomentations==0.16.0
audioread==2.1.9
avro-python3==1.9.2.1
aws-sam-translator==1.34.0
aws-xray-sdk==2.6.0
babel==2.9.0
backcall==0.2.0
bcj-cffi==0.5.0
beautifulsoup4==4.9.3
bert-score==0.3.8
binaryornot==0.4.4
black==20.8b1
boto3==1.16.43
boto==2.49.0
botocore==1.19.43
bs4==0.0.1
bz2file==0.98
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
cfn-lint==0.46.0
chardet==3.0.4
chex==0.0.7
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
configparser==5.0.1
conllu==4.4
cookiecutter==1.7.2
crcmod==1.7
cryptography==3.4.6
cycler==0.10.0
cython==0.29.22
dataclasses==0.6
datasets==1.4.1
decorator==4.4.2
dill==0.3.1.1
distlib==0.3.1
dm-tree==0.1.6
docker-pycreds==0.4.0
docker==4.4.4
docopt==0.6.2
docutils==0.16
dopamine-rl==3.1.8
ecdsa==0.14.1
elasticsearch==7.11.0
entrypoints==0.3
et-xmlfile==1.0.1
execnet==1.7.1
fairseq==0.10.2
faiss-cpu==1.6.5
fastavro==1.3.2
fastbpe==0.1.0
filelock==3.0.12
fire==0.3.1
flake8==3.9.0
flask==1.1.2
flatbuffers==1.12
flax==0.3.3
fsspec==0.8.5
fugashi==1.0.5
future==0.18.2
gast==0.3.3
gevent==21.1.2
gin-config==0.4.0
gitdb==4.0.5
gitpython==3.1.11
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-auth==1.23.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==1.0.0
grpcio==1.34.0
gunicorn==20.0.4
gym==0.18.0
h5py==2.10.0
hazm==0.7.0
hdfs==2.6.0
httplib2==0.17.4
huggingface-hub==0.0.8
hydra-core==1.0.6
identify==1.5.10
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.7.0
importlib-resources==5.1.0
iniconfig==1.1.1
install==1.3.4
ipadic==1.0.0
ipdb==0.13.4
ipython-genutils==0.2.0
ipython==7.19.0
isort==5.6.4
itsdangerous==1.1.0
jax==0.2.13
jaxlib==0.1.65+cuda111
jdcal==1.4.1
jedi==0.17.2
jinja2-time==0.2.0
jinja2==2.11.2
jiwer==2.2.0
jmespath==0.10.0
joblib==0.17.0
jsondiff==1.2.0
jsonpatch==1.31
jsonpickle==2.0.0
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
keras-preprocessing==1.1.2
keras2onnx==1.7.0
kfac==0.2.0
kiwisolver==1.3.1
lang-trans==0.6.0
langdetect==1.0.8
librosa==0.8.0
libwapiti==0.2.1
llvmlite==0.36.0
lxml==4.6.2
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mecab-python3==1.0.3
mesh-tensorflow==0.1.18
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==2.0.0
more-itertools==8.7.0
moto==1.3.16
mpmath==1.1.0
msgpack==1.0.0
multiprocess==0.70.9
multivolumefile==0.2.2
mwparserfromhell==0.6
mypy-extensions==0.4.3
natsort==7.1.1
networkx==2.5
nlp==0.4.0
nltk==3.3
nodeenv==1.5.0
numba==0.53.1
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0
omegaconf==2.0.6
onnx==1.8.0
onnxconverter-common==1.7.0
opencv-python==4.5.1.48
openpyxl==3.0.6
opt-einsum==3.3.0
optax==0.0.7
packaging==20.7
pandas==1.1.5
parameterized==0.7.4
parso==0.7.1
pathspec==0.8.1
pathtools==0.1.2
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.3.1
plac==1.2.0
pluggy==0.13.1
pooch==1.3.0
portalocker==2.0.0
poyo==0.5.0
ppmd-cffi==0.3.3
pre-commit==2.9.3
pretty-errors==1.2.19
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
py3nvml==0.2.6
py7zr==0.14.1
py==1.9.0
pyarrow==2.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.6.2
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pydot==1.4.2
pyflakes==2.3.0
pygame==2.0.1
pyglet==1.5.0
pygments==2.7.3
pymongo==3.11.3
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.17.3
pytest-forked==1.3.0
pytest-sugar==0.9.4
pytest-xdist==2.1.0
pytest==6.1.2
pythainlp==2.2.6
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-frontmatter==1.0.0
python-jose==3.2.0
python-levenshtein==0.12.2
python-mecab-ko==1.0.11
python-slugify==4.0.1
pytorch-lightning==0.8.5
pytorch-nlp==0.5.0
pytz==2020.4
pyyaml==5.3.1
pyzstd==0.14.3
rarfile==4.0
recommonmark==0.6.0
regex==2020.11.13
requests-file==1.5.1
requests-oauthlib==1.3.0
requests==2.25.0
resampy==0.2.2
responses==0.12.1
rouge-score==0.0.4
rsa==4.6
ruamel.yaml.clib==0.2.2
ruamel.yaml==0.16.13
s3fs==0.4.2
s3transfer==0.3.4
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.4
sentencepiece==0.1.91
sentry-sdk==0.20.2
seqeval==1.2.2
setuptools==51.0.0.post20201207
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.0.0
soundfile==0.10.3.post1
soupsieve==2.2
sphinx-copybutton==0.3.1
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.4.3
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sshpubkeys==3.3.1
subprocess32==3.5.4
sympy==1.7.1
tensor2tensor==1.15.7
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorboardx==2.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.3.0
tensorflow-gan==2.0.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.27.0
tensorflow-probability==0.7.0
tensorflow-text==2.3.0
tensorflow==2.3.1
termcolor==1.1.0
test-tube==0.7.5
text-unidecode==1.3
texttable==1.6.3
tf-slim==1.1.0
tfds-nightly==4.2.0.dev202102170106
threadpoolctl==2.1.0
timeout-decorator==0.5.0
tinydb==4.4.0
tldextract==3.1.0
tokenizers==0.10.1
toml==0.10.2
toolz==0.11.1
torch==1.7.1
torchaudio==0.7.2
tqdm==4.49.0
traitlets==5.0.5
typed-ast==1.4.1
typeguard==2.10.0
typing-extensions==3.7.4.3
unidic-lite==1.0.7
unidic==1.0.3
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==20.2.2
wandb==0.10.19
wasabi==0.8.0
wcwidth==0.2.5
websocket-client==0.58.0
werkzeug==1.0.1
wget==3.2
wheel==0.36.1
wrapt==1.12.1
xmltodict==0.12.0
xxhash==2.0.0
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
zstandard==0.15.2