taming-transformers
einops
gradio
icecream
imageio
matplotlib
more_itertools
numpy
omegaconf
opencv_python_headless
Pillow
pudb
pytorch_lightning
PyYAML
requests
scikit_image
scipy
setuptools
streamlit
torch
torchvision
tqdm
transformers
typing_extensions
wandb
lpips
