absl-py==1.0.0
anaconda-clean @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_be20dd64-61dd-41d9-bf38-a84695fe69507hs6olkf/croots/recipe/anaconda-clean_1652723729651/work
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
Automat==20.2.0
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.6.2
blis==0.7.8
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.8
certifi==2022.5.18.1
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
cfgv==3.3.1
chainmap==1.0.3
chardet==5.1.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama==0.4.6
combomethod==1.0.12
compyle==0.8.1
conda==4.13.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8fb3e065-760b-4a9d-4cd9-aca7fc8baf53/volume/conda-package-handling_1618262145611/work
constantly==15.1.0
coverage==5.5
cryptography @ file:///opt/concourse/worker/volumes/live/a9ca20dd-e1fe-4ed3-754e-0db64082a5d2/volume/cryptography_1639414576087/work
cssselect==1.1.0
cyarray==1.1
cycler==0.11.0
cymem==2.0.6
Cython==0.29.30
d2l==0.17.5
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.12.2
flake8==4.0.1
Flask==2.3.3
flatbuffers==2.0
fonttools==4.32.0
future==0.18.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.7
glob2==0.7
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.46.1
h5py==3.6.0
humanize==4.3.0
hyperlink==21.0.0
identify==2.5.24
idna==2.10
imagededup==0.3.2
importlib-metadata==4.11.3
incremental==21.3.0
iniconfig==1.1.1
install==1.3.5
interval==1.0.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.6.0
itemloaders==1.0.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.0
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema==4.4.0
junit-xml==1.8
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
langcodes==3.3.0
libclang==14.0.1
lizard==1.17.10
lxml==4.9.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mizani==0.8.1
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/0cda23d8-7460-44b2-7e5d-3c76a8a0ca7e/volume/mkl_random_1626186083266/work
mkl-service==2.4.0
multiprocess==0.70.14
murmurhash==1.0.8
mutatest==3.1.0
mutmut==2.4.3
mxnet==1.8.0.post0
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nbval==0.10.0
nest-asyncio==1.5.5
nltk==3.7
nodeenv==1.8.0
notebook==6.4.11
nulltype==2.3.1
numpy @ file:///opt/concourse/worker/volumes/live/a3493aeb-202b-43d0-6a51-0a73ce7c0029/volume/numpy_and_numpy_base_1649782777974/work
oauthlib==3.2.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
options==1.4.10
packaging==23.1
palettable==3.3.0
pandas==1.5.2
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pathy==0.6.2
patsy==0.5.3
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plac==1.3.5
platformdirs==3.5.3
plotnine==0.10.1
pluggy==1.0.0
pony==0.7.16
pre-commit==3.3.3
preshed==3.0.7
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.2.1
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.9.2
PyDispatcher==2.0.5
PyDriller==1.15.2
pyflakes==2.4.0
Pygments==2.12.0
PyNaCl==1.5.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==3.0.8
pyproject-api==1.5.2
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
PyStemmer==2.0.1
pytest==7.1.2
pytest-asyncio==0.21.0
pytest-cov==4.1.0
pytest-timeout==2.1.0
python-dateutil==2.8.2
pytools==2022.1.9
pytz==2022.1
PyWavelets==1.4.1
PyYAML==5.3.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
queuelib==1.6.2
regex==2022.7.25
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.8
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/cffa5efe-beec-4a37-5774-350794e43990/volume/scikit-learn_1642617139916/work
scikit-multilearn==0.2.0
scipy @ file:///opt/concourse/worker/volumes/live/9284487f-601d-4bc3-5556-535c4949d341/volume/scipy_1641557769615/work
Scrapy==2.6.1
seaborn==0.12.2
Send2Trash==1.8.0
service-identity==21.1.0
six==1.12.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spiral @ git+https://github.com/casics/spiral.git@0e75418cda7635f151fedff035b7b75799ccbe43
srsly==2.4.4
stack-data==0.2.0
statsmodels==0.13.5
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.13.3
testresources==2.0.1
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.1.0
thinc-apple-ops==0.1.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tinycss2==1.1.1
tldextract==3.3.0
toml==0.10.2
tomli==2.0.1
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tox==4.6.0
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets==5.1.1
Twisted==22.4.0
typer==0.4.2
types-pytz==2022.5.0.0
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.7
virtualenv==20.23.0
w3lib==1.22.0
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.3.7
widgetsnbextension==3.6.0
wrapt==1.14.1
zipp==3.8.0
zope.interface==5.4.0
