name: Build PR Documentation

on:
  pull_request:

jobs:
  test:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v1
    - name: ps
      run: ps aeuxwww
    - name: env
      run: env
