name: PR Quality Bot

on:
  issue_comment:
    types:
      - created
    branches-ignore:
      - main
  # pull_request:
  push:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number }}-${{ startsWith(github.event.comment.body, 'run-slow') || startsWith(github.event.comment.body, 'run slow') || startsWith(github.event.comment.body, 'run_slow') }}
  cancel-in-progress: true
permissions: read-all

env:
  HF_HOME: /mnt/cache
  TRANSFORMERS_IS_CI: yes
  OMP_NUM_THREADS: 8
  MKL_NUM_THREADS: 8
  RUN_SLOW: yes
  # For gated repositories, we still need to agree to share information on the Hub repo. page in order to get access.
  # This token is created under the bot `hf-transformers-bot`.
  HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
  TF_FORCE_GPU_ALLOW_GROWTH: true
  CUDA_VISIBLE_DEVICES: 0,1


jobs:
  get-pr-number:
    name: Get PR number
    # if: ${{ github.event.issue.state == 'open' && contains(fromJSON('["ydshieh", "ArthurZucker", "zucchini-nlp", "molbap", "gante", "LysandreJik", "Cyrilvallez", "Rocketknight1", "SunMarc", "eustlb", "MekkCyber", "vasqu", "ivarflakstad", "stevhliu", "ebezzam", "remi-or", "itazap", "3outeille"]'), github.actor) && (startsWith(github.event.comment.body, 'run-slow') || startsWith(github.event.comment.body, 'run slow') || startsWith(github.event.comment.body, 'run_slow')) }}
    uses: ./.github/workflows/get-pr-number.yml

  get-pr-info:
    name: Get PR commit SHA
    needs: get-pr-number
    if: ${{ needs.get-pr-number.outputs.PR_NUMBER != ''}}
    uses: ./.github/workflows/get-pr-info.yml
    with:
      pr_number: ${{ needs.get-pr-number.outputs.PR_NUMBER }}

  check-timestamps:
    name: Check timestamps (security check)
    runs-on: ubuntu-22.04
    needs: get-pr-info
    outputs:
      PR_HEAD_SHA: ${{ needs.get-pr-info.outputs.PR_HEAD_SHA }}
      PR_MERGE_SHA: ${{ needs.get-pr-info.outputs.PR_MERGE_COMMIT_SHA }}
    steps:
      - name: Verify `merge_commit` timestamp is older than the issue comment timestamp
        env:
          COMMENT_DATE: ${{ github.event.comment.created_at }}
          PR_MERGE_COMMIT_TIMESTAMP: ${{ needs.get-pr-info.outputs.PR_MERGE_COMMIT_TIMESTAMP }}
        run:
          echo ${{ needs.get-pr-info.outputs.PR_HEAD_SHA }}
#        run: |
#            COMMENT_TIMESTAMP=$(date -d "${COMMENT_DATE}" +"%s")
#            echo "COMMENT_DATE: $COMMENT_DATE"
#            echo "COMMENT_TIMESTAMP: $COMMENT_TIMESTAMP"
#            if [ $COMMENT_TIMESTAMP -le $PR_MERGE_COMMIT_TIMESTAMP ]; then
#              echo "Last commit on the pull request is newer than the issue comment triggering this run! Abort!";
#              exit -1;
#            fi


  init_comment_with_url:
    name: Init Comment on PR
    runs-on: ubuntu-22.04
    needs: [get-pr-number, check-timestamps]
    permissions:
      pull-requests: write
    steps:
      - name: Comment on PR with workflow run link
        id: init_comment
        env:
          prNumber: ${{ needs.get-pr-number.outputs.PR_NUMBER }}
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = parseInt(process.env.prNumber, 10);
            const runUrl = `${process.env.GITHUB_SERVER_URL}/${process.env.GITHUB_REPOSITORY}/actions/runs/${process.env.GITHUB_RUN_ID}`

            const { data: botComment } = await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: prNumber,
              body: `Quality fix is beginning .... [View the workflow run here](${runUrl}).`
            });
            core.setOutput('comment_id', botComment.id);

  run-quality:
    runs-on: ubuntu-22.04
    needs: [get-pr-number, get-pr-info, check-timestamps, init_comment_with_url]
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          # Instead of checking out the base repo, use the contributor's repo name
          repository: ${{ needs.get-pr-info.outputs.PR_HEAD_REPO_FULL_NAME }}
          ref: ${{ needs.check-timestamps.outputs.PR_HEAD_SHA }}
          # You may need fetch-depth: 0 for being able to push
          fetch-depth: "0"

      - name: Check commits
        run: |
          git log -n 3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          # TODO: make this more flexible
          python-version: "3.10"

      # TODO: We should try to use docker!
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[quality]"
          pip install --no-cache-dir --upgrade 'torch' 'torchaudio' 'torchvision' --index-url https://download.pytorch.org/whl/cpu

      - name: Run checks
        id: run_checks
        run: |
          python utils/check_copies.py --fix_and_overwrite
          echo "ok!"

      - name: Commit and push changes
        id: commit_and_push
        env:
          HEADREPOFULLNAME: ${{ needs.get-pr-info.outputs.PR_HEAD_REPO_FULL_NAME }}
          HEADREF: ${{ needs.get-pr-info.outputs.PR_HEAD_REF }}
          PRNUMBER: ${{ needs.get-pr-number.outputs.PR_NUMBER }}
          GITHUB_TOKEN: ${{ secrets.HF_STYLE_BOT_ACTION }}
        run: |
          echo "HEADREPOFULLNAME: $HEADREPOFULLNAME, HEADREF: $HEADREF"
          # Configure git with the Actions bot user
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Make sure your 'origin' remote is set to the contributor's fork
          git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/$HEADREPOFULLNAME.git"

          # If there are changes after running style/quality, commit them
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Apply style fixes"
            # Push to the original contributor's forked branch
            git push origin HEAD:$HEADREF
            echo "changes_pushed=true" >> $GITHUB_OUTPUT
          else
            echo "No changes to commit."
            echo "changes_pushed=false" >> $GITHUB_OUTPUT
          fi