name: CI slack report

on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string
    secrets:
      CI_SLACK_BOT_TOKEN:
        required: true
      CI_SLACK_REPORT_CHANNEL_ID:
        required: true
      ACCESS_REPO_INFO_TOKEN:
        required: true

jobs:
  send_results:
    name: Send results to webhook
    runs-on: ubuntu-22.04
    if: always()
    steps:
#      - name: Preliminary job status
#        shell: bash
#        # For the meaning of these environment variables, see the job `Setup`
#        run: |
#          echo "Setup status: ${{ needs.setup.result }}"

      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: Send message to Slack
        env:
          CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
          CI_SLACK_REPORT_CHANNEL_ID: ${{ secrets.slack_report_channel }}
          ACCESS_REPO_INFO_TOKEN: ${{ secrets.ACCESS_REPO_INFO_TOKEN }}
          CI_EVENT: scheduled
          CI_SHA: ${{ github.sha }}
          CI_WORKFLOW_REF: ${{ github.workflow_ref }}
          # SETUP_STATUS: ${{ needs.setup.result }}
        # We pass `needs.setup.outputs.matrix` as the argument. A processing in `notification_service.py` to change
        # `models/bert` to `models_bert` is required, as the artifact names use `_` instead of `/`.
        run: |
          sudo apt-get install -y curl
#          pip install slack_sdk
#          pip show slack_sdk
#          python utils/notification_service.py "${{ needs.setup.outputs.folder_slices }}"

#      # Upload complete failure tables, as they might be big and only truncated versions could be sent to Slack.
#      - name: Failure table artifacts
#        if: ${{ always() }}
#        uses: actions/upload-artifact@v3
#        with:
#          name: prev_ci_results
#          path: prev_ci_results
